body{
			margin: 0;
			padding: 0;
			text-align: center;
			font-family: sans-serif;
			background-image: linear-gradient(120deg,#ff6b6b, #5f27cd);
			min-height: 100vh;
		}
		div{
			width: 500px;
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: #fff;
			transform: translate(-50%, -50%);
			padding: 20px;
			border-radius: 10px;

		}
		h2{
			font-size: 30px;
			font-weight: 600;
		}
		.text{
			text-align: left;
			margin-left: 150px;
		}
		#w, #h{
			color: #ff6b6b;
			text-align: left;
			font-size: 20px;
			font-weight: 200;
			outline: none;
			border: none;
			background: none;
			border-bottom: 1px solid #ff6b6b;
			width: 200px;
		}
			#w:focus, #h:focus{
				border-bottom: 1px solid #ff6b6b;
				width: 220px;
				transition: 0.5s;
			}
			#result{
				color: #341f97;
			}
			.btn{
				font-family: inherit;
				margin-top: 10px;
				border: none;
				color: #fff;
				background-color: #ff6b6b;
				width: 150px;
				padding: 10px;
				border-radius: 30px;
				outline: none;
				cursor: pointer;
				font-family: Verdana;
				transition: ease-in 0.2s;
			}
			.btn:hover{
				transition: ease-out 0.2s;
				background-color: #5f27cd;

			}
			#info{
				font-size: 12px;
				font-family: inherit;
			}
			.shadow::selection{
    			background-color: transparent;
    			color: #ff6b6b;
}
.Home a{
    font-family: sans-serif;
    float: right;
    margin: 7.5px;
    transition: ease-out 0.2s;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
        margin-right: 20px;
}
.act{
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 6px 15px;
}
.Home a:hover{
    color: skyblue;
    border-color: skyblue;
}

.Home2 a{
   font-family: sans-serif;
    float: right;
    margin: 7.5px;
    transition: ease-out 0.2s;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.act{
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 6px 15px;
}
.Home2 a:hover{
    color: skyblue;
    border-color: skyblue;
}

#logo{
    font-family: sans-serif;
    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	color: #00a7ff;
	transition: ease-out 0.2s;
}
#logo:hover{
    color: #eef9ff;
}
#logo-s{
	transition: ease-out 0.2s;
	color: #eef9ff;
	margin-left: 5px;
}
#logo:hover #logo-s{
	color: #00a7ff;
}


